body{
    background: rgb(0,212,255);
background: linear-gradient(354deg, rgba(0,212,255,1) 44%, rgba(233,128,14,1) 79%);
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    float: none;
    text-align: left;
}